html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  background-color: pink;
}

#section2 {
  height: 600px;
  background-color: yellow;
}

body {
  color: white;
  background-color: lightblue;
}


h1 {
  color: black;
  text-align: center;
}


h2{
   color: hotpink;
}

p {
  font-family: verdana;
  font-size: 20px;
}
